<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">


    <div class="footer">

        <div class="footer-up">

            <div class="top blocks-4">
                <div class="col">
                    <p class="footer-header">Codecool Bazaar</p>
                    <ul class="footer-lists">
                        <li class="footer-list-item"><a class="footer-links" href="#">Contact Us</a></li>
                        <li class="footer-list-item"><a class="footer-links" href="#">Terms of use</a></li>
                        <li class="footer-list-item"><a class="footer-links" href="#">About us</a></li>
                    </ul>
                    <ul class="footer-lists">
                        <li class="footer-list-item"><a class="footer-links" href="#">Shipping info</a></li>
                        <li class="footer-list-item"><a class="footer-links" href="#">Cookie Policy</a></li>
                        <li class="footer-list-item"><a class="footer-links" href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col">
                    <p class="footer-header">Contact Info</p>
                    <ul class="footer-lists">
                        <li class="footer-list-item"><a class="footer-links" href="#">Semilunei 4-6</a></li>
                        <li class="footer-list-item"><a class="footer-links" href="#">Bucuresti</a></li>
                        <li class="footer-list-item"><a class="footer-links" href="#">Postal Code: 020797</a></li>
                    </ul>
                </div>
                <div class="col">
                    <p class="footer-header">Sign up to our mailing list</p>
                    <form>
                        <input class="subscribe-input" type="text" placeholder="Enter your email"
                               aria-label="Enter your email">
                        <div class="subscribe-form"><a class="subscribe-button">Subscribe</a></div>
                    </form>
                </div>
                <div class="col">
                    <p class="footer-header">connect with us</p>
                    <div class="social">
                        <i class="fab fa-facebook-f social-icon"></i>
                        <i class="fab fa-instagram social-icon"></i>
                        <i class="fab fa-youtube social-icon"></i>
                        <i class="fab fa-twitter social-icon"></i>
                    </div>
                </div>
            </div>


        </div>

        <div class="footer-down">
            &copy; Copyright 2020 Codecool Bucharest
        </div>
    </div>
</div>

</body>
</html>
