
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
        <a href="#" class="navbar-brand">
            <img src="/static/img/codecool3.png" height="70" alt="CoolBrand">
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active text-white">Home</a>
                <a href="#" class="nav-item nav-link text-white">My Profile</a>
                <a href="#" class="nav-item nav-link text-white">Order Status</a>
                <a href="/cart" class="nav-item nav-link text-white"> <i class="fas fa-shopping-cart"></i> Cart</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link text-white">Login</a>
            </div>
        </div>
    </nav>
</div>

</body>
</html>