body {
    background-color:#EFEAE7 ;
}


.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.pCategory li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.suppliers-filter {
    border:0px;
    background-color: #EFEAE7;
}

.suppliers-link-container {
    display:inline-block;
    margin-bottom: 1em;
}

a.supplier-link {
    text-transform: uppercase;
    color:black;
    font-family: "Noto Sans CJK HK";
    padding: 5px 10px;
    font-weight: 900;
    font-size: 14px;
}pu

a.supplier-link:hover  {
    color:black;
    text-decoration: none;
}

.card {
    border:none;
}

.card-header {
    min-height: 10em;
}

.card-body {
    background-color:#EFEAE7 ;
    border:none;
}

.jumbotron {
    background-color: white;
    height: 8em;
}


.add-to-cart-button {
    background-color: #67a0cE;
    color:white;
    transition: 0.3s;
}

.add-to-cart-button:hover {
    background-color: white;
    color:black;
}

.cart-header {
    font-family: Helvetica;
    font-weight: 900;
    font-size: 2.5em;
    text-transform: uppercase;
}

.cart-total-header {
    margin-bottom: 2em;
}

.checkout-button, .checkout-button-right {
    border-radius: 9999px;
    text-transform: uppercase;
    width: 300px;
    padding: 5px 2em;
    border: 2px solid #333;
    transition: all 0.2s linear;
    font-size: 0.9em;
    font-family: Helvetica;
    background-color: #000;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 1em;
    color: white;
    outline: none !important;
}

.checkout-button-right {
    margin-top: 10em;
}

.checkout-button:hover, .checkout-button-right:hover {
    cursor: pointer;
    color:#727677;
}

.checkout-arrow {
    font-size: 3em;
    line-height: 0.1em;
}

.cart-container {
    font-family: Helvetica;
    min-height: 700px;
    max-width: 1300px;
    margin: 0 auto;
}

.cart-item {
    border: 1px solid #333;
    margin-bottom: 2em;
    display: flex;
    font-size: 0.95em;
}

.cart-product-image {
    width: 100%;
}

.cart-product-container {
    padding: 0px;
}

.cart-item-description {
    padding: 20px;
    margin-left: 1.5em;
}

.cart-product-name {
    text-transform: uppercase;
}

.cart-product-price {
    float: right;
    margin-right: 60px;
}

.cart-product-currency {
    float: right;
    margin-right: 5px;
}

.cart-product-count {
    margin-top: 4em;
    padding: 4px 20px;
}

.order-summary-container {
    margin-left: 3em;
}

.order-summary-header {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    margin: 1em 0;
}

.order-summary-info {
    font-size: 0.9em;
}

.order-info-right {
    float:right;
}

.order-total {
    font-weight: 900;
}

.cart-nav {
    border-bottom: 2px solid #ccc;
}

.order-summary-container  p  {
    line-height: 2.2em;
}

.footer {
    background-color: #333333;
    color:whitesmoke;
    height: 6em;
    vertical-align: center;
    line-height: 6em;
    margin-top: 3em;
}